.header-box-set{
    position: absolute;
    background-color: white;
    border-style: solid;
    border-color: #cccccc;
    border: 5px;
    width: 960px;
}
.background{
    background-color: beige;
    width: 100%;
    height: 750px;
}
#header{
    width: 100%;
    position: absolute;
    background-color: white;
    width:100%;
}
#title-name{
    position: absolute;
    float: left;
    background-color: #4aaaa5;
    padding: 0 15px 0 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 16px;
    color: white;
    width: 250px;
    height: 60px;
}
#button-header{
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
}
.content{
    position: absolute;
    background-color: white;
    padding: 10px;
    width: 960px;
    height: 500px;
    top: 16%;
    left: 20%;
}
#content-title{
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 12px;
    text-align: left;
    color:#4aaaa5;
    width: 300px;
    height: 50px;
}
#line{
    position: absolute;
    margin: 100px 6px 0 6px;
    background-color: #cccccc;
    width: 95%;
    height: 4px;
}
#p-content{
    margin-top: 200px;
    left:10%;

}